.addItemWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.addItemContainer {
    display: flex;
    flex-direction: column;
    width: 336px;
}
.blueText {
    color: #007AFF;
}
.savedListHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.newListButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #007AFF;
    font-weight: 700;
    font-size: 14px;
}
.addSymbol {
    margin-right: 2px;
}
.containerOfPresetCards {
    position: relative;
    left: -12px;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    width: 95vw;
    height: 280px;
}
.addItemEnterInfoText {
    margin: 30px 0 0 0; 
}
.addItemTinyText {
    margin: 0;
    font-size: 14px;
    color: #636366;

}
.enterItemInfoButton {
    margin-top: 5px;
    width: 336px;
    height: 48px;
    background: #C9E4FF;
    border-radius: 10px;
    border: none;
    color: #0A84FF;
    font-size: 17px;
    font-weight: 700;
    cursor: pointer;
}
.blurWall {
    filter: blur(3px);
}
.displayInlineBlock {
    display: inline-block;
}