.bysPageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
}
.bysPageContainer {
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 336px;
}
.bysBackWrapper{
    display: flex;
    flex-direction: row;
    background: white;
    height: 31px;
    width: 336px;
    margin-top: 21px;
}
.bysImageWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 336px;
}
.bysImageHolder{
    height: 240px;
    width: 240px;
}
.bysPic{
    height: 240px;
    width: 240px;
    border-radius: 13px;
}
.bysTitleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 336px;
}
.bysTitle{
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: center;
}
.bysButtonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 336px;
}
.bysButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 42px;
    width: 336px;
}
.bysButtons{
    height: 42px;
    width: 140px;
    left: 40px;
    top: 354px;
    border-radius: 13px;
    border: none;
    justify-content: center;
    align-items: center;
    background: #EDEDED;    
}
.bysFavButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial;
    font-weight: 400;
    line-height: 21px;
    justify-content: space-evenly;
    font-size: 18px;
    color: #F0395A;
}
.bysCookButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial;
    width: 100px;
    margin-left: 13px;
    font-weight: 400;
    line-height: 21px;
    justify-content: space-evenly;
    font-size: 18px;
    color: #007AFF;
}
.bysDescWrapper{
    display: flex;
    height: 36px;
    width: 336px;
}
.bysDesc{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E93;
}
.bysInfoWrapper{
    display: flex;
    flex-direction: row;
    height: 105px;
    width: 336px;
}
.bysInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    width: 286px;
}
.bysInfoHolder{
    align-items: center;
    height: 26px;
    width: 286px;
}
.bysInfoLeft{
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #636366;
}
.bysInfoRight{
    float: right;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    color: #1C1C1E;
}
.bysBackLink{
    float: left;
    margin-left: 0px;
    text-decoration: none;
}
.bysBackArrow {
    color: #007AFF;
    margin-left: 5px;
}