.buttonContainer {
    height: 120px;
    width: 156px;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.buttonText {
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
    line-height: 16px;
    color: #1C1C1E;
}