.homePageWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.homePageContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 336px;
}
.headerBar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 336px;
}
.header {
    font-family: Arial;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 34px;
    letter-spacing: -0.03em;
    color: #1C1C1E;
}
.notifications {
    width: 336px;
    height: 144px;
    left: 24px;
    top: 88px;
    background: #F9D3E0;
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    border-radius: 22px;
}
.notificationsHeader {
    font-family: Arial;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #1C1C1E;
    margin: 20px 20px 0px;
}
.notificationsAlert {
    font-family: Arial;
    font-style: normal;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    margin: 0px 20px;
}
.shoppingListAndRecipesContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 336px;
}
.refrigeratorHeader {
    font-family: Arial;
    font-style: normal;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: -0.03em;
    color: #1C1C1E;
    align-self: flex-start;
}
.refrigeratorSelectionContainer {
    align-self: flex-start;
}

label {
    font-family: Arial;
    font-style: normal;
    font-size: 16px;
    line-height: 18px;
    color: #1C1C1E;
}
.refrigeratorFreezerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 336px;
}