.newItemWrapper2 {
    position: absolute;
    margin-top: 16vh;
    margin-left: 46px;
    width: 280px;
    height: 523px;
    background: #FFFFFF;
    box-shadow: 0px 10px 30px rgb(0 0 0 / 30%);
    border-radius: 22px;
    z-index: 3;
}
.newItemContainer {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}
.newItemHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.newItemCloseButton {
    cursor: pointer;
}
.quantityUnitContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.quantityContainer {
    display:flex;
    flex-direction: column;
    width: 110px;
}
.unitContainer {
    display: flex;
    flex-direction: column;
    width: 110px;
}
.newItemInput {
    background: rgba(237, 237, 237, 0.8);
    border-radius: 12px;    
    border: none;
    height: 38px;
    padding: 0px 15px;
}
.newItemLabel {
    margin: 10px 0; 
}
.newItemButton {
    margin-top: 20px;
    width: 232px;
    height: 38px;
    color: #E5E5EA;
    background: #AEAEB2;
    border-radius: 12px;
    border: none;
    align-self: center;
}

.newItemButtonActive {
    background: #C9E4FF;
    color: #007AFF;
}

.expirationDateContainer {
    display:flex;
    flex-direction: column;
    width: 130px;
    margin-top: 12px;
}

.newItemNotificationContainer2 {
    position: absolute;
    top: -15%;;
    left: -2.5%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: #585858;
    color: white;
    border: none;
    width: 280px;
    border-radius: 10px;
    padding: 0px 10px;; 
    display: none;
}
.newItemNotificationIcon2 {
    margin-right: 10px;
}

.shoppingListSelectUser3 {
    margin-top: 11px;
    margin-left: -17px;
    width: 336px;
    align-self: flex-start;
    border-top: 0px solid #C7C7CC;
    border-bottom: 0px solid #C7C7CC;
}

.userHead {
    margin: 10px 11px;
}