.navBarWrapper {
    position: fixed;
    bottom: 0;
    width: 100vw;
    background: white;
}
.navBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-top: solid 1px #C7C7CC;
}