.shoppingListWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100vw;
}
.shoppingListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.returnToHomeButton {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 336px;
}
.headerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: fixed;
    background: white;
    width: 100vw;
    height: 110px;
    z-index: 1;
}
.shoppingListHeaderBar {
    display: flex;
    flex-direction: column;
    position: fixed;
    background: white;
    margin-top: 8px;
}
.headerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 336px;
    background: white;
}
.header {
    font-family: 'Arial';
    font-size: 30px;
}
.categoryListContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-top: 110px;
}
.button {
    width: 56px;
    height: 32px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-left: 10px;
    cursor: pointer;
}
.buttonGrey {
    background: #AEAEB2;
}
.buttonBlue {
    background: #007AFF;
}
.buttonRed {
    background: #E22400;
}
.hidden {
    display: none;
}

