.shoppingListItemContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    border-top: solid #C6C6C8 1px;
    margin-left: 20px
}
.checkbox {
    margin-right: 20px;
    border-radius: 100px solid black;
}
.quantitySelection {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.nameInput {
    width: 86px;
    background: #EEEEEE;
    border-radius: 8px;
    border: none;
    height: 24px;
    padding-left: 10px;
}
.nameInput:disabled {
    background: white;
    border: none;
    width: 140px;
}
.quantityInput {
    width: 38px;
    text-align: right;
    background: #EEEEEE;
    border-radius: 8px;
    border: none;
    height: 24px;
    padding-right: 10px;
    margin-left: 4px;
}
.quantityInput:disabled {
    background: white;
    border: none;
    padding: 0;
}
.metricsSelect {
    margin-left: 4px;
    margin-right:  10px;
    height: 20px;
    font-family: arial;
    background: #EEEEEE;
    border-radius: 8px;
    border: none;
    height: 24px;
    padding-left: 10px;
}
.metricsSelect:disabled {
    appearance: none;
    border: none;
    color: black;
    background: white;
    padding: 0;
}
.shoppingListDelete {
    margin-right: 20px;
    cursor: pointer;
}
.backgroundGray {
    background: #AEAEB2;
}
.backgroundGray:disabled {
    background: #AEAEB2;
}
.zeroLeftMargin {
    margin-left: 0;
}
.twentyLeftMargin {
    margin-left: 20px;
}
.alphabeticKeyboard {
    position: fixed;
    top: 64.5%;
    left: 0%;
    z-index: 10;
}
.numericKeyboard {
    position: fixed;
    top: 64.5%;
    left: 0%;
    z-index: 10;
}

