.StorageUnitBox {
    min-width: 162px;
    min-height: 162px;
    max-width: 162px;
    max-height: 162px;
    /* left: 24px; */
    background: #3A87FD;
    box-shadow: 0px 4px 12px rgb(0 0 0 / 20%);
    border-radius: 22px;
    position: relative;
    margin-right: 10px;

}
.StorageUnitDeleteIcon {
    position: relative;
    top: -175px;
    left: -15px;
}

.StorageUnitHeading {
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: justify;
    color: #FFFFFF;
    margin-top: 13px;
    margin-left: 10px;
}

.Numberitems {
    margin-top: -11px;
    margin-left: 12px;
    font-family: 'Arial';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
letter-spacing: -0.03em;
color: #F2F2F7;
}

.FavoriteFill {
    height: 17px;
    /* left: 18.2%; */
    /* right: 18.27%; */
    /* top: 20.33%; */
    /* bottom: 20.85%; */
    margin-left: 12px;
    width: 16px;
}

.UserImages {
    margin-top: -34px;
    /* margin-bottom: 7px; */
    margin-left: 79px;
    
}

.Elizabeth2 {
    height: 36px;
    width: 34px;
}
.James2 {
    margin-left:-3px;
    height: 34px;
    width: 36px;
}
/* .dot {
    height: 45px;
    width: 45px;
    margin-right: -18px;
    background-color: #007AFF;
    border-radius: 50%;
    display: inline-block;
  } */