.sbmPageWrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    overflow: scroll;
}
.sbmPageContainer {
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    width: 336px;
    overflow: scroll;
}
.sbmBackPadding{
    display: flex;
    flex-direction: row;
    background: white;
    height: 21px;
    width: 336px;
    position: fixed;
}
.sbmBackWrapper{
    display: flex;
    flex-direction: row;
    background: white;
    height: 31px;
    width: 336px;
    margin-top: 21px;
    position: fixed;
}
.sbmImageWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 260px;
    width: 336px;
    margin-top: 52px;
}
.sbmImageHolder{
    height: 240px;
    width: 240px;
}
.sbmPic{
    height: 240px;
    width: 240px;
    border-radius: 13px;
}
.sbmTitleWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 48px;
    width: 336px;
}
.sbmTitle{
    font-family: Arial;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.03em;
    text-align: center;
}
.sbmButtonWrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 60px;
    width: 336px;
}
.sbmButtonsContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    height: 42px;
    width: 336px;
}
.sbmButtons{
    height: 42px;
    width: 140px;
    left: 40px;
    top: 354px;
    border-radius: 13px;
    border: none;
    justify-content: center;
    align-items: center;
    background: #EDEDED;    
}
.sbmFavButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial;
    font-weight: 400;
    line-height: 21px;
    justify-content: space-evenly;
    font-size: 18px;
    color: #F0395A;
}
.sbmCookButton{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Arial;
    width: 100px;
    margin-left: 13px;
    font-weight: 400;
    line-height: 21px;
    justify-content: space-evenly;
    font-size: 18px;
    color: #007AFF;
}
.sbmDescWrapper{
    display: flex;
    width: 336px;
}
.sbmDesc{
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: left;
    color: #8E8E93;
}
.sbmInfoWrapper{
    display: flex;
    flex-direction: row;
    width: 336px;
}
.sbmInfoContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin-bottom: 60px;
    width: 286px;
}
.sbmInfoHolder{
    align-items: center;
    height: 26px;
    width: 286px;
}
.sbmInfoLeft{
    float: left;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: left;
    color: #636366;
}
.sbmInfoRight{
    float: right;
    font-family: Arial;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: right;
    color: #1C1C1E;
}
.sbmBackLink{
    float: left;
    margin-left: 0px;
    text-decoration: none;
}
.sbmBackArrow {
    color: #007AFF;
    margin-left: 5px;
}